<%# 1.-Agregar un archivo llamado three.html.erb a la carpeta views del controlador pages
2.- Agregar un título h2 y un párrafo Lorem ipsum en la página three  %>

<h2>Lorem ipsum.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus eligendi corrupti quae id, impedit ducimus quas quasi eaque asperiores perspiciatis iure nesciunt qui possimus temporibus commodi esse, facere molestiae.</p>